<!-- 1:47:37
    angular subscribe depreciado
    https://rxjs.dev/deprecations/subscribe-arguments
    https://www.youtube.com/watch?v=4F_dR7LOSmM
    https://cloud.mongodb.com/v2#/org/64c1a9a253291a5ec9640f76/projects
    postman http://localhost:4000/api/productos
    
    https://github.com/truizdiaz/mean-backend/tree/master
    https://github.com/truizdiaz/mean-frontend
    
    <span>{{ title }} app is running!</span>
    <h3>hola mundo</h3>
    <button class="btn btn-primary">Boton</button>
-->
<router-outlet></router-outlet>
